<div class="row">
    <div class="col-md-4">
        <form action="CheckPin" method="post">
            <input type="text" name="pin" placeholder="Pin" class="form-control"/>
            <input type="submit" value="Login" class="form-control"/>
            <p style="color: red">@ViewBag.Error</p>
        </form>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>